absl-py==0.2.2
astor==0.6.2
audioread==2.1.6
bleach==1.5.0
cffi==1.11.5
decorator==4.3.0
future==0.16.0
gast==0.2.0
grpcio==1.12.0
h5py==2.7.1
html5lib==0.9999999
jams==0.3.1
joblib==0.11
jsonpickle==0.9.6
jsonschema==2.6.0
Keras==2.1.6
librosa==0.6.1
llvmlite==0.23.0
Markdown==2.6.11
mir-eval==0.4
muda==0.2.0
numba==0.38.0
numpy==1.14.3
pandas==0.23.0
pkg-resources==0.0.0
protobuf==3.5.2.post1
pycparser==2.18
pyrubberband==0.2.2
PySoundFile==0.9.0.post1
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.12
resampy==0.2.0
scikit-learn==0.19.1
scipy==1.1.0
sed-eval==0.1.9
six==1.11.0
sklearn==0.0
sortedcontainers==2.0.2
tensorboard==1.8.0
tensorflow-gpu==1.8.0
termcolor==1.1.0
tqdm==4.23.4
Werkzeug==0.14.1
